body,tbody { font-family: 'Open Sans', tahoma,helvetica,sans-serif; }
body { font-size: 11pt; margin: 0; }
h1 { text-align: center; }
form { background-color: #555; width: 100%; padding: 0.5em 0 0.5em 0; margin: 0; }
form > div { margin-left: auto; margin-right: auto;  }
form table { margin-left: auto; margin-right: auto; }
form table td { border: none; padding: 0; }
input,textarea { border: solid 1px #000; }
input[type=submit] { width: 100%; height: 2em; font-size: 14pt; }
textarea { font-size: 12pt; margin: 0; width: 100%; }
form #examples { color: #eee; padding-left: 10px; list-style-type: none; font-size: 10pt; }
form #examples a { color: #eee; text-decoration: none; }
form #examples a:hover { color: #eee; text-decoration: underline; }

#output { margin-left: 50px; margin-right: 50px; }
#spinner { text-align: center; }
.dep_parse { margin: 2px; padding: 2px; }
svg { border-color: #AAA; }
svg g.span rect { stroke: none; }
svg g.span text { fill: #08c; }
svg g.arcs text { fill: #e0a; }
svg g.arcs path,#arrow_triangle_5_000000 { stroke: #777 !important; }
svg g.sentnum { display: none; }
/*svg g.span path.curly { stroke: none; height: 0px; }*/
