@(sentence: String)

@base("Dependency Parser Shootout") {

<form method="GET" onSubmit="submitSentence($('textarea[name=sentence]').val()) ; return false ;">
    <div>
        <table>
        <tr>
            <td>
                <textarea name="sentence" rows=5 cols=60 placeholder='Enter an English sentence.'>@sentence</textarea>
                <br/>
                <input type="submit" value="Parse!"/>
           </td>
            <td>
                <ul id="examples">
                    <li><b>Examples:</b></li>
                    <li><a href="?sentence=Robots in popular culture are there to remind us of the awesomeness of unbounded human agency.">
                        robots</a></li>
                    <li><a href="?sentence=The border-radius CSS property allows Web authors to define how rounded border corners are.">
                        CSS border-radius</a></li>
                    <li><a href="?sentence=Dumbledore slipped the Put-Outer back inside his cloak and set off down the street toward number four, where he sat down on the wall next to the cat.">
                        Dumbledore</a></li>
                    <li>Lincoln:
                        <a href="?sentence=After a series of debates in 1858 that gave national visibility to his opposition to the expansion of slavery, Lincoln lost a Senate race to his arch-rival, Stephen A. Douglas.">
                            (1)</a>,
                        <a href="?sentence=Upon hearing the gunshot, Rathbone quickly jumped from his seat and tried to prevent Booth from escaping.">
                            (2)</a>,
                        <a href="?sentence=Booth dropped the pistol and drew a knife, stabbing the major violently in the left forearm reaching the bone.">
                            (3)</a>,
                        <a href="?sentence=Rathbone quickly recovered and again tried to grab Booth as he was preparing to jump from the sill of the box.">
                            (4)</a></li>
                    <li><a href="?sentence=Professor Charles Fillmore, director of the FrameNet Project, was presented with the Lifetime Achievement Award by the Association for Computational Linguistics at its annual meeting yesterday in Jeju, South Korea.">
                        Fillmore</a></li>
                </ul>
            </td>
        </tr>
        </table>
    </div>
</form>
<div id="output">
    <p id="spinner" style="display: none">
        <img src="@routes.Assets.at("images/spinner.gif")"/>
    </p>
    <div id="dependency_parses" style="display: none">
        <div id="stanford_container">
            <a href="http://nlp.stanford.edu/software/corenlp.shtml">StanfordCoreNLP</a>:
        </div>
        <div id="malt_container">
            <a href="http://www.maltparser.org/">MaltParser</a>:
        </div>
    </div>
</div>



<script type="text/javascript">
    // Initialize brat
    var bratLocation = 'http://demo.ark.cs.cmu.edu/parse/static/brat';

    head.js (
        // External libraries
        bratLocation + '/lib/jquery.svg.min.js',
        bratLocation + '/lib/jquery.svgdom.min.js',

        // brat helper modules
        bratLocation + '/js/configuration.js',
        bratLocation + '/js/util.js',
        bratLocation + '/lib/webfont.js',

        // brat modules
        bratLocation + '/js/dispatcher.js',
        bratLocation + '/js/url_monitor.js',
        bratLocation + '/js/visualizer.js'
    );

    if ( $("textarea[name=sentence]").val() ) {
        submitSentence($("textarea[name=sentence]").val()) ;
    }
</script>
}
